@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
	$primary: #a32727,
	$secondary: #3c3a3a,
	$surface: #f7f1f1,
	$background: #f7f1f1,
	$error: color-palette.$red-900
);

html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
}
